.subtitle {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  line-height: 39px;
  color: #df434a;
  text-transform: uppercase;
  margin-bottom: 66px;
}

.subtitle::after {
  content: "";
  display: block;
  margin: auto;
  width: 100px;
  border-bottom: 3px double #df434a;
  padding-top: 9px;
}
