@import 'normalize.css';
@import "reset.css";

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/inter-v12-latin-regular.woff2') format('woff2'),
          url('fonts/Inter/inter-v12-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}